<script lang="ts">
	import lottie from 'lottie-web';
	import type { AnimationItem } from 'lottie-web';
	import { onMount } from 'svelte';

	export let data;

	let animationContainer: HTMLElement, animationInstance: AnimationItem;

	onMount(async () => {
		animationInstance = lottie.loadAnimation({
			container: animationContainer,
			renderer: 'svg',
			loop: true,
			autoplay: true,
			animationData: data
		});
		animationInstance.addEventListener('error', (error) => {
			console.error(error.nativeError);
		});
	});
</script>

{#if data}	
		<div bind:this={animationContainer} />
{/if}
